header {
  background-color: rgba(254, 247, 226, 255);
  margin: 15px;
  padding: 15px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  /* border-radius: 30%; */
}

.shop {
  margin-top: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.shop h1,
.shop img {
  display: inline;
}

.shop,
.facilities,
.ourHoney,
.trace,
.contact {
  text-align: center;
  background-color: rgba(255, 223, 127, 255);
  border-radius: 50px;
}

.firstLine,
.secondLine {
  display: flex;
  justify-content: space-evenly;
}

.facilities,
.ourHoney,
.trace,
.contact {
  width: 150px;
  margin: 5px 0 5px 0;
}

main > h1 {
  text-align: center;
}

.honey {
  background-color: rgba(254, 247, 226, 255);
  margin: 10px;
}

.description {
  display: flex;
  justify-content: space-evenly;
}

.place > h4 {
  font-size: large;
  margin-bottom: 0;
}

.price {
  display: flex;
  align-items: center;
}

.honey button {
  background-color: rgba(255, 223, 127, 255);
  border: none;
  border-radius: 40%;
  padding: 10px 20px 10px 20px;
}

article {
  background-color: rgba(254, 247, 226, 255);
  margin: 10px;
}

@media screen and (min-width: 300px) {
  .honey > img {
    width: 100%;
  }

  main > h2 {
    margin: 20px;
  }

  /* .decription {
    display: flex;
  } */

  /* .place {
    display: flex;
  } */

  .honey {
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 768px) {
  .honey > img {
    width: 50%;
  }
}
